// COLORS //
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

// FONT //
$FontSize: 13px;
$FontFamily: "Manrope", sans-serif;

body {
  margin: 0;
  min-height: 100vh;
  background-color: $LightGrayishBlue;
  display: grid;
  place-items: center;
  font-size: $FontSize;
  font-family: $FontFamily;
}

.card {
  margin: 10% 8%;
  background-color: white;
  color: $DesaturatedDarkBlue;
  border-radius: 10px;
  max-width: 800px;

  @media screen and (min-width: 550px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .card__header {
    max-width: 100%;
    height: 270px;
    background-image: url(images/drawers.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;

    @media screen and (min-width: 550px) {
      width: 100%;
      height: 100%;
      border-radius: 10px 0 0 10px;
    }
  }

  .card__body {
    padding: 13px 29px;

    .card_title {
      font-size: 1rem;
      color: $VeryDarkGrayishBlue;
    }
  }

  #card__footer {
    padding: 15px 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 38px;

    .card__profile {
      display: flex;
      column-gap: 1rem;
      align-items: center;

      .card__image {
        width: 38px;
        height: 38px;
        border-radius: 50%;
      }

      .card__profileInfo {
        display: inline-flex;
        flex-direction: column;

        .card__name {
          color: $VeryDarkGrayishBlue;
          font-weight: 700;
          margin: 0 0 2px 0;
        }

        .card__date {
          color: $GrayishBlue;
        }
      }
    }
  }

  .card__button {
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    outline: none;
    position: relative;
    background-image: url(images/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    background-color: $LightGrayishBlue;
  }

  #card__button-tooltip {
    display: none;
    background-color: $VeryDarkGrayishBlue;
    padding: 0 23px;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    position: absolute;
    bottom: 45px;
    right: -74px;
    min-width: 149px;
    border-radius: 10px;
    z-index: 1;
    color: $LightGrayishBlue;

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: kewX(-10deg) skewY(-10deg);
      border-left: 8px solid transparent;
      border-top: 10px solid $VeryDarkGrayishBlue;
      border-right: 8px solid transparent;
    }
  }

  #card__footer-active {
    background-color: $VeryDarkGrayishBlue;
    padding: 15px 29px;
    display: none; // when click on share button it will be flex
    justify-content: space-between;
    align-items: center;
    min-height: 38px;

    .card__socialButtons {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      color: $GrayishBlue;
      letter-spacing: 5px;
    }

    .card__button-active {
      background-color: $DesaturatedDarkBlue;
      fill: white;
    }
  }
}
